@font-face
{
    font-family: 'bellefonte';
    src: url('polices/DancingScript-VariableFont_wght.ttf') format('truetype');
    font-size: larger;
    font-style: normal;
}
body
{
    background: url('images/fond_jaune.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}
#bloc_page
{
    width: 1200px;
    margin: auto;
}
header
{
    font-family: "bellefonte";
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: flex-start;
}
header h1
{
   width: 300px;
       font-size: 2.5em;
       font-weight: normal;
       margin-left : 325px;
}
header nav
{
    margin-left : 200px;
    margin-top: 50px;
     list-style-type: none;
}
header nav ul
{
    display:flex;

    text-decoration: none;
}
header nav li
{
    list-style-type: none;     /* pas de puce */
    text-decoration: none;     /* pas de decoration */
    margin-right: 20px;        /* espace entre menu */
}
header nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;     /* pas de decoration */
}
header nav a:hover
{
    border-bottom: 3px solid rgb(255,225,215);
}
#actif
{
    background-color: rgb(255,240,220);
}

header nav ul li
{
float:left;
}
header nav ul li a
{
/*padding: 20px;*/
}
header nav ul li ul
{
display: none;
}
nav ul li:hover ul
{
z-index:99999;
display:list-item !important;
position:absolute;
margin-top:0px;
margin-left:-40px;
list-style-type: none;
}
#actif
{
    background-color: rgb(255,240,220);
}
#canvas
{
    margin-top: 25px;
}
#warning
{
    display: flex;
    flex-direction: column;
    color: rgb(255,255,255);
    animation-name: warn;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#warning h1
{
    margin: auto;
}
#warning h3
{
    margin: auto;
}
@keyframes warn
{
    from {
     color:rgb(255,249,226);}
    to {
     color: rgb(0,0,0);}
}
#menu
{
     font-size: 0.75em;
     font-weight: normal;
     float:left;
     height: 200px;
     border-radius: 10px 10px 10px 10px;  /* hg hd bd bg */
     box-shadow: 3px 2px 6px blue; /*h v degrade color */
     border: 2px solid blue;
     margin-bottom : 50px;
     margin-top: 10px;
     margin-left: 10px;
     padding-right: 10px;
}
#menu ul
{
    display: block;
}
#corps
{
    border: 1px solid red;
}
#corps div
{
    margin-left: 350px;

}
footer
{
    display: flex;
    align-items: center;
   
}
footer h3
{
    position: absolute;
    right: 25px;
}
#logo_footer img
{
    margin-top:10px;
    margin-right: 10px;
    padding-left: 10px;
    width: 30px;
    height: auto;
}
